html {
  background: #ffc600;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
.search-form {
  max-width: 400px;
  margin: 50px auto;
}
input {
  width: 100%;
  padding: 20px;
}
input.search {
  text-align: center;
  margin: 0;
  width: 105%;
  left: -10%;
  position: relative;
  border: 10px solid #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  z-index: 2;
  outline: 0;
  font-size: 40px;
}
.suggestions li {
  background: white;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-1deg) translateY(1px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(1deg) translateY(1px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  perspective: 20px;
}